@import "./vars";

@mixin debug {
    background-color: rgba(206, 55, 55, 0.575);
    border: 1px solid black;
}

@mixin buttonPrimary {
    border: 1px solid $sugar-cane;
    color: $sugar-cane;
    background-color: transparent;
    padding: 10px 15px;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .4s;
    &:hover{
    background-color: $sugar-cane;
    color: $east-bay;
    }
}

@mixin buttonSecondary {
    border: none;
    color: $sugar-cane;
    background-color: $blaze-orange;
    padding: 8px 18px;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .4s;
    &:hover{
    background-color: $east-bay;
    }
}

@mixin overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    opacity: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $east-bay-opacity;
    transition: all .4s;
}