$sugar-cane: #fefffe;
$butterfly-bush : #554e9e;
$mine-shaft: #262626;
$blaze-orange: #fe6601;
$cameo: #d7ac95;
$crimson: #d71938;
$sushi: #84b443;
$limeade : #36ad02;
$school-bus-yellow: #fcd902;
$curious-blue: #1bafe4;
$bon-jour: #e8e6e7;
$east-bay: #444275;
$mojo: #c34937;
$twine: #c29458;
$vida-loca: #47be27;
$victoria: #4c4a9b;
$eunry: #cd9f90;
$lima: #47bd23;
$tuatara: #242423;
$cashmere: #e2bea5;


